html, body {
    margin: 0;
    padding: 50px;
    font-family: 'rubik', sans-serif;

}

.container {
    background-color: #EEF0F4;
    border: 3px solid #432000;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    border-radius: 10px;
    padding: 10px;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    color: #432000;
    background-color: #DCE1EB;
    border-radius: 8px;
    border: 0;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;

}

#add-button {
    background-color: #432000;
    color: #DCE1EB;
    border-radius: 8px;
    border: 0;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

/*

.cart-items {
    display: grid;
    border: 2px solid #432000;
    background-color: #EEF0F4;
    margin: 5px;
}

ul {
    margin: 10px;
    list-style: none;
    padding: 20px;
    display: grid;
    border: 2px solid #432000;
    cursor: pointer;
}

listItems {
    color: #432000;
    background-color: #DCE1EB;
    border: 2px solid #432000;
    border-radius: 8px;
    border: 0;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 6px;
    
}

#list {
    margin: 10px;
}

*/